/* start global rules */
:root {
  --main-color: #0078ff;
  --color-alt: #1e1e1e;
  --main-transition: 0.3s ease-in-out;
  --main-padding: 60px;
  --main-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  --section-overlay: #0077ffad
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  color: #4e4e4e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-alt);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;

}

/* end global rules */

/* start components */
.bg-img {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.main-p {
  padding: var(--main-padding) 0;
}

.main-title h3 {
  font-size: 3rem;
}

.main-title .line {
  background-color: var(--main-color);
  width: 40px;
  height: 5px;
}

.sec-title h5 {
  font-size: 32px;
}

.sec-title h5::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--main-color);
  width: 100px;
  left: 0;
  bottom: -12px;
}

/* end components */

/* start floating arrow */
.go-up {
  opacity: 0;
  visibility: hidden;
  right: 15px;
  bottom: 15px;
  z-index: 998;
  background: #0078ff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: var(--main-transition);
}

.go-up:hover {
  background: #298eff;
}

/* end floating arrow */

/* start navbar */
.navbar {
  transition: var(--main-transition);
  padding: 20px;
}

.navbar .nav-item {
  padding: 10px 0px 10px 30px;
}

.navbar .navbar-brand {
  font-size: 28px;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: white !important;
}

.navbar .nav-link:before,
.navbar .active::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -6px;
  left: 0;
  width: 0;
  background-color: #fff;
  visibility: hidden;
  transition: var(--main-transition)
}

.navbar .nav-link:hover::before,
.navbar .active::before {
  width: 80%;
  visibility: visible;
}

.navbar-nav .dropdown-item {
  font-size: 15px;
  transition: var(--main-transition);
}

.navbar-nav .dropdown-item:hover {
  color: var(--main-color);
}

/* end navbar */

/* start landing */
.landing {
  background-image: url(../imgs/hero-bg.jpg);
}

.landing .overlay {
  background-color: rgba(0, 0, 0, 0.55);
}

.landing .container .box h1 {
  font-size: 4.5rem;
}

.landing .container .box p {
  font-size: 2.5rem;
}

/* end landing */

/* Start about */
.content .progress {
  background-color: #cde1f8;
  height: 0.7rem;
}

.about .content {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.content .title {
  font-weight: 600;
  color: --color-alt;
  font-size: 1.1rem;
}

/* end about */

/* start services */
.services .serv-box {
  box-shadow: var(--main-shadow);
}

.services .icon {
  font-size: 40px;
  width: 120px;
  height: 120px;
  border: 10px solid var(--main-color);
  color: var(--color-alt);
  transition: all 500ms ease;
}

.services .serv-box:hover .icon {
  border-color: #cde1f8;
  background-color: var(--main-color);
  color: white;
}

.services .serv-box .content h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
}

/* end services */

/* start counter */
.counter {
  background-image: url(../imgs/counters-bg.jpg);
}

.counter .overlay {
  background-color: var(--section-overlay);
}

.counter .icon {
  font-size: 2rem;
  width: 80px;
  height: 80px;
  border: 10px solid white;
}

.counter .counter-box span {
  font-size: 40px;
}

/* end counter*/

/* start portfolio */
.portfolio .portfolio-box {
  box-shadow: var(--main-shadow);
}

.portfolio .portfolio-box .img img {
  cursor: pointer;
  transition: all 1s;
}

.portfolio .portfolio-box:hover .img img {
  scale: 130%;
}

.portfolio .content h2 {
  font-size: 1.2rem;
  padding-top: 10px;
}

.portfolio .content .icon {
  font-size: 2.5rem;
  color: var(--main-color);
  cursor: pointer;
}

.portfolio .content .more {
  font-size: 12px;
}

.portfolio .content .more .category {
  color: var(--main-color);
}

/* end portfolio */

/* start testimonials */
.testimonials {
  background-image: url(../imgs/overlay-bg.jpg);
  padding: 110px 0;
}

.testimonials .overlay {
  background-color: var(--section-overlay);
}

.testimonials .test-box span {
  display: block;
  font-size: 1.4rem;
}

.testimonials .test-box p {
  max-width: 70%;
}

.testimonials .carousel-indicators button {
  width: 12px;
  height: 12px;
}

/* end testimonials */

/* start blog */
.blog .card-blog .card-body .category {
  background-color: var(--main-color);
  padding: 8px 15px;
  top: -16px;
}

.blog .card-blog .card-body .category h6 {
  font-size: 0.7rem;
}

.blog .card-blog .card-body .card-title {
  font-size: 1.3rem;
  transition: var(--main-transition);
}

.blog .card-blog .card-body .card-title:hover {
  color: var(--main-color);
}


.blog .card-blog .card-body .card-description,
.blog .card-blog .card-footer .date {
  color: #4e4e4e;
}


.blog .card-blog .card-footer .avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
}

.blog .card-blog .card-footer .author {
  transition: var(--main-transition);
}

.blog .card-footer .card-author:hover .author {
  color: var(--main-color);
}

/* end blog */

/* start contact */
.contact {
  padding: 120px 0 70px 0;
  background-image: url(../imgs/overlay-bg.jpg);
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.contact .overlay {
  background-color: var(--section-overlay);
}

.contact .contact-form .submit-btn {
  font-size: 1.2rem;
  background-color: var(--main-color);
  transition: var(--main-transition);
  padding: 10px 24px;
  border: 0;
}

.contact .contact-form .submit-btn:hover {
  box-shadow: 0 0 0 4px #cde1f8;
  background-color: #298eff;
}

.contact .list-icon i {
  color: var(--main-color);
}

.contact .social-icons a {
  font-size: 1.2em;
  width: 50px;
  height: 50px;
  border: 3px solid var(--main-color);
  transition: var(--main-transition);
}

.contact .social-icons a:hover {
  border-color: #cde1f8;
  background-color: var(--main-color);
  color: white;
}

/* end contact */

/* start footer */
footer {
  background: #0062d3;
}

/* end footer */